* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #e2e9f1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.dashboard__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sidebar {
    grid-area: 1 / 1 / 6 / 1;
    background-color: #1c94d3;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.2fr 0.6fr;
}

.dashboard_title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo__img {
    margin-left: 0;
    width: 80px;
    height: 80px;
}

.menu__list {
    display: grid;
    row-gap: 20px;
} 

.dashboard_title span {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
}

.menu {
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    padding: 5px;
}


.menu a {
    color: #FFFFFF;
    font-size: 1rem;
    width: 100%;
    transition: 0.3s;
}

.menu:hover {
    border: 2px solid #FFFFFF;
} 

.menu__icon {
    font-size: 1.25rem;
    margin-right: 10px;
}

.nav__container {
    grid-area: 1 / 2 / 1 / 6;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    padding: 20px 30px;
}

.upper__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search__container {
    display: flex;
    width: 70%;
    gap: 10px;
    align-items: center;
}

.search__icon {
    font-size: 1.25rem;
}

#search {
    width: 100%;
    padding: 5px;
    background: #e2e9f1;
    border: none;
    border-radius: 25px;
    outline: none;
}

.right__contents{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.notification__icon {
    font-size: 1.25rem;
    margin-left: 40px;
}

.profile__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.profile__img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile__img {
    width: 40px;
    height: 40px;
}

.profile__name {
    font-weight: 500;
    font-size: 1rem;
}

.lower__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.low-left__contents {
    display: flex;
    align-items: center;
}

.profile__contents {
    display: flex;
    gap: 20px;
}

.lower-profile__img-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.lower-profile__img-container .profile__img {
    height: 60px;
    width: 60px;
}

.name__contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name__contents .profile__name {
    font-size: 22px;
    font-weight: 500;
}

.low-right__contents {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    padding: 10px;
    width: 100px;
    background: #1c94d3;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s;
}

.btn:hover {
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.projects__container {
    grid-area: 2 / 2 / 6 / 5;
    padding: 20px;
}

.projects__container .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.title {
    font-size: 1rem;
    font-weight: 500;
}

.project__contents {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 400px));
    grid-template-rows: repeat(3, minmax(150px, 300px));
    gap: 20px;
}

.project__item {
    position: relative;
    background: #FFFFFF;
    padding: 20px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: 0.3s;
}

.project__item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .35);
    transform: scale(1.02);
}

.left__bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FACC15;
    width: 10px;
    height: 100%;
}

.Item__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
}

.project__title {
    font-size: 1.25rem;
}

.project__description {
    font-size: 1rem;
    font-weight: 400;
}

.medias {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    gap: 20px;
}

.media__icon {
    font-size: 1.25rem;
    color: #1c94d3;
}