* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.dashboard__container {
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: repeat(5, 0.2fr);
    height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 6 / 1;
    background-color: #1c94d3;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.2fr 0.6fr;
}

.dashboard_title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo__img {
    margin-left: 0;
    width: 80px;
    height: 80px;
}

.menu__list {
    display: grid;
    row-gap: 20px;
} 

.dashboard_title span {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
}

.menu {
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    padding: 5px;
}


.menu a {
    color: #FFFFFF;
    font-size: 1rem;
    width: 100%;
    transition: 0.3s;
}

.menu:hover {
    border: 2px solid #FFFFFF;
} 

.menu__icon {
    font-size: 1.25rem;
    margin-right: 10px;
}

.nav__container {
    grid-area: 1 / 2 / 1 / 6;
    background: #FFFFFF;
    border-bottom: 1px solid black;
    padding: 20px 30px;
}

.upper__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__container {
    display: flex;
    width: 70%;
    gap: 10px;
    align-items: center;
}

.search__icon {
    font-size: 1.25rem;
}

#search {
    width: 100%;
    padding: 5px;
    background: #e2e9f1;
    border: none;
    border-radius: 25px;
    outline: none;
}

.right__contents{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.notification__icon {
    font-size: 1.25rem;
    margin-left: 40px;
}

.profile__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.profile__img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile__img {
    width: 40px;
    height: 40px;
}

.profile__name {
    font-weight: 500;
    font-size: 1rem;
}